@using WebBanDienThoai.Models
@model List<LOAISANPHAM>

<style>
    .logo-admin {
        width: 170px;
        max-width: 100%;
        height: 50px;
    }
</style>

<!--left-fixed -navigation-->
<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="@Url.Action("Index", "Admin")"><span class="fa fa-bug"></span> Shanim Shop<span class="dashboard_text">Design 
                       </span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                <li class="treeview">
                    <a href="@Url.Action("Index", "Admin")">
                        <i class="fa fa-dashboard"></i> <span>Thống kê</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("BrowseOrders", "Admin")">
                        <i class="fa fa-pencil-square-o"></i> <span>Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Promotion", "Admin")">
                        <i class="fa fa-laptop"></i> <span>Khuyến mãi</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Nhập kho</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Admin_WarehouseImportList", "Admin")"><i class="fa fa-angle-right"></i>Danh sách phiếu nhập</a></li>
                        <!--<li><a href="@Url.Action("ImportListProduct", "Admin")"><i class="fa fa-angle-right"></i> Phiếu nhập kho</a></li>-->
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Sản phẩm</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            @foreach (var group in Model.GroupBy(row => row.DANHMUC))
                            {
                                if (group.Key != null)
                                {
                                    <a href=""><i class="fa fa-angle-right"></i>@group.Key.TenDanhMuc</a>
                                    foreach (var item in group)
                                    {
                                        <ul class="treeview-menu">
                                            <li><a href="@Url.Action("Admin_Product", "Admin", new {MaLoaiSP=item.MaLoaiSP})"><i class="fa fa-angle-right"></i>@item.TenLoaiSP</a></li>
                                        </ul>
                                    }
                                }
                            }
                        </li>                        
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-calendar"></i> <span>Chi tiết sản phẩm</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            @foreach (var group in Model.GroupBy(row => row.DANHMUC))
                            {
                                if (group.Key != null)
                                {
                                    <a href=""><i class="fa fa-angle-right"></i>@group.Key.TenDanhMuc</a>
                                    foreach (var item in group)
                                    {
                                        <ul class="treeview-menu">
                                            <li><a href="@Url.Action("Admin_ListProductDetails", "Admin", new {MaLoaiSP=item.MaLoaiSP})"><i class="fa fa-angle-right"></i>@item.TenLoaiSP</a></li>
                                        </ul>
                                    }
                                }
                            }
                        </li>                        
                    </ul>
                </li>    
                <li class="treeview">
                    <a href="@Url.Action("Member", "Admin")">
                        <i class="fa fa-cogs"></i> <span>Phân quyền</span>
                    </a>
                </li>
               
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>

<style>
    .icon-container {
        display: block;
        position: relative;
    }

    .active-icon {
        transform: rotate(90deg);
        transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
        display: inline-block;
        position: absolute;
        top: 15px;
        left: -5px;
    }
</style>

<script>
    $(document).ready(function () {
        $(".menu-item").click(function (e) {
            e.preventDefault();
            const dataValue = $(this).data("value");

            // Thay đổi điều kiện dựa trên giá trị data-value
            $("tr").each(function () {
                if ($(this).data("maloaisp") == dataValue) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

<script>
    // Sử dụng JavaScript để thêm hành vi click
    const treeviewItems = document.querySelectorAll(".test .toggle-treeview");

    treeviewItems.forEach(item => {
        item.addEventListener("click", () => {
            const icon = item.querySelector("i.fa");

            // Toggle class và transform khi nhấn vào
            if (icon.classList.contains("fa-angle-right")) {
                //icon.classList.remove("fa-angle-right");
                //icon.classList.add("fa-angle-left");
                icon.style.transform = "rotate(180deg)";
            } else {
                //icon.classList.remove("fa-angle-left");
                //icon.classList.add("fa-angle-right");
                icon.style.transform = "";
            }
        });
    });
</script>