@using WebBanDienThoai.Models;
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .btn-block {
        margin-top: 20px;
        padding: 10px;
        border: none;
        background-color: #08347c;
        color: #fff;
        font-weight: bold;
        width: 100%;
    }

        .btn-block:hover, .btn-block:focus, .btn-block:focus:active {
            outline: none;
            background-color: #FF5722;
            color: #fff;
        }

        .btn-block:focus-visible {
            outline: none;
        }

    .validation-summary-errors li {
        list-style-type: none;
        color: red;
    }
</style>
<div class="ads-grid">
    <div class="container">
        <div class="product-sec1">
            <div style="display: flex; justify-content: center;">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 style="margin-bottom: 50px" class="card-title text-center">Đặt lại mật khẩu</h2>

                            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBox("email", null, new { @id = "email", @style = "margin: 10px 0 0", @class = "form-control", @placeholder = "Nhập địa chỉ email", @required = "required", oninput = "validateEmail  ()" })
                                    </div>
                                </div>
                                <p id="message" style="font-size: 14px; font-weight: bold; color: red; text-align: left;">@ViewBag.NotFoundAccount</p>
                                <div>
                                    @Html.Captcha("Làm mới", "Nhập mã", 5)
                                </div>
                                <p style="margin-top: 10px">
                                    @Html.ValidationSummary()
                                </p>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-block">Gửi yêu cầu đặt lại mật khẩu</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateEmail() {
        var emailField = document.getElementById('email');
        var email = emailField.value;
        var emailRegex = /^[A-Za-z0-9._%+-]+\@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;

        if (!emailRegex.test(email)) {
            emailField.setCustomValidity('Địa chỉ Email không hợp lệ.');
        } else {
            emailField.setCustomValidity('');
        }
    }
</script>
